# R
.Rproj.user
.Rhistory
.RData
# Datasets
Datasets/

# Office temp Files
~$*

# Python
.ipynb_checkpoints/

# Mac OS
.DS_Store

# Windows OS
desktop.ini

# LaTex
*.aux
*.bcf
*.log
*.run.xml
*.synctex.gz

