# R
.Rproj.user
.Rhistory
.RData
Clean_Data(Draft).Rmd

# Datasets
Datasets/
/2_Raw_Data/Zhang_2023_NI
2_Raw_Data/Zhang_2022_NI/Zhang_2022_NI_Exp1_raw.csv

Bukowski_2021_AP/
Golubickis_2021_AP/
Hobbs_2023_PM/
Mcivor_2020_EJN/
Orellana-Corrales_2021_EP/

Svensson_2021_PR/
Wang_2016_EPHPP/


# 忽略所有子目录和文件
**/.DS_Store
**/Thumbs.db



# Office temp Files
~$*

# Python
.ipynb_checkpoints/


# Mac OS
.DS_Store
._*

# Windows OS
desktop.ini

# LaTex
*.aux
*.bcf
*.log
*.run.xml
*.synctex.gz

/2_Literature_Search/2_1_All_Papers
/1_Clean_Data/Kirk_2025_BJP
/1_Clean_Data/Svensson_2023_QJEP
/2_Raw_Data/Kirk_2025_BJP
/2_Raw_Data/Svensson_2023_QJEP
/2_Raw_Data/Orellana-Corrales_2021_APP
/2_Raw_Data/Lee_2023_Cognition
/1_Clean_Data/Lee_2023_Cognition
/2_Raw_Data/Hobbs_2021_PM
/1_Clean_Data/Orellana-Corrales_2021_APP
